$color-1: #00e676;
.createCont {
  width: 100%;
  padding-top: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 17;
  position: fixed;
  .creteForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aquamarine;
    border-radius: 10px;
    margin-top: 7%;
    label {
      padding: 5px;
    }
  }
  .createBtn {
    background-color: $color-1;
    border: none;
    color: white;
    border-radius: 3px;
    &:hover {
      border: solid 0.5px yellow;
    }
    &:focus {
      outline: none;
    }
  }
}
.closeBtn {
  color: red;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    border: solid 0.5px yellow;
  }
}
.input {
  margin-top: 20px;
  border-radius: 5px;
  width: 100%;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover {
    border: solid 0.5px yellow;
  }
}
