.addressForm {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: absolute;
  z-index: 10;
  background-color: snow;
  input {
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    transition: 0.5s;
    border: 0.5px solid yellowgreen;
    padding: 10px;
    &:hover {
      border: 0.5px solid yellow;
    }
    &:focus {
      outline: none;
    }
  }

  button {
    width: 400px;
    border-radius: 5px;
    transition: 0.5s;
    border: 0.5px solid yellowgreen;
    &:hover {
      border: 0.5px solid yellow;
    }
    &:focus {
      outline: none;
    }
  }
}
.closeBtn {
  border: none;
  padding: 0px;
  margin: 0px;
  position: absolute;
  right: 4%;
  top: 10px;
  cursor: pointer;
  img {
    width: 30px;
    height: 30px;
    transition: 0.5s;
    border-radius: 5px;
    transition: 0.5s;
    border: 0.5px solid yellowgreen;
    &:hover {
      border: 0.5px solid yellow;
    }
  }
}
@media (max-width: 425px) {
  .addressForm {
    input {
      width: 95%;
    }
    button {
      width: 95%;
    }
  }
}
