.contContact{
padding-top: 40px;
display: flex;
justify-content: center;
}
.contactCart{
padding-top: 40px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
text-align: center;
input, textarea{
margin: 10px;
border-radius: 5px;
transition: .50s;
border: .50px solid yellowgreen;
padding: 10px ;
&:hover{
border: .50px solid yellow;
}
&:focus{
outline: none;
}
}
button{
margin: 10px;
border-radius: 5px;
transition: .50s;
border: .50px solid yellowgreen;
&:hover{
border: .50px solid yellow;
}
&:focus{
outline: none;
}
}
}
@media(max-width: 425px){
.contactCart{
width: 100%;
}
}